.main {
  width: 100%;
  min-height: calc(100vh - 102px);
}

mat-card {
  margin-top: 20px;
}

.actionsSection {
  padding: 4px;
}


mat-card-title {
  margin-block-end: 10px;
  margin-top: -10px;
}

.card-title-txt {
  font-size: 16px;
  font-weight: bold;
  padding-block-end: 12px;
  margin-top: -10px;
}


@media screen and (min-width: 900px) {
  .main {
      padding: 0px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
      padding: 0px 50px;
  }
}