<section fxLayout="column">
  <mat-toolbar fxLayout="row" color="primary" class="toolbar">
    <section fxFlex="75%">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <a mat-icon-button routerLink="/dashboard"><mat-icon>home</mat-icon></a>
    </section>

    <section fxFlex="25%" fxLayoutAlign="end">
      <button mat-icon-button (click)="logout(sidenav)">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </section>
  </mat-toolbar>

  <mat-sidenav-container fxLayout="row">
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list fxLayout="column">
        <a
          *ngFor="let item of sidenavItems"
          mat-list-item
          class="sidenavItem"
          (click)="goTo(item, sidenav)">
            <mat-icon>{{ item?.iconName }}</mat-icon>
            &nbsp;{{ item?.description }}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <ng-content></ng-content>

    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
