.main {
  width: 100%;
  min-height: calc(100vh - 102px);
}

.descricao{

 padding: 8px;
}


@media screen and (min-width: 900px) {
  .main {
      padding: 0px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
      padding: 0px 50px;
  }
}





.article {
  width: 100%;


  /* min-height: calc(100vh - 102px); */
}

/* CARD */
p {
margin: 0px;
}


/* // celular */
@media screen and (max-width: 599px) {

      
}

@media screen and (min-width: 600px) {
 
}

@media screen and (min-width: 600px) and (max-width: 959px) {
 
}

