<div mat-dialog-content>
  <form [formGroup]="formEmail" (ngSubmit)="submitFormEmail()" 
  fxLayout="column"
  >
    <section fxFlex="100%">
      <mat-form-field fxFlex="100%">
        <input
          matInput
          type="email"
          required="true"
          placeholder="Digite o e-mail para redefinir a senha"
          formControlName="eMail" />
        
        <mat-error>O e-mail informado é inválido.</mat-error>
      </mat-form-field>
    </section>
    <section fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="4px">
      <button
        type="submit"
        mat-raised-button
        style="margin-top: 20px;"
        color="primary"
        [disabled]="formEmail?.invalid">
          <mat-icon>mail</mat-icon>
          Redefinir Senha
      </button>
    </section>
  </form>
</div>


<mat-dialog-actions fxLayoutAlign="center" style="margin-top: 15px;">
  <button mat-stroked-button mat-dialog-close style="padding: 0 25px 0 25px;">Fechar</button>
</mat-dialog-actions>




