.footer {
  width: 100%;
  min-height: 52px;
  color: grey;
  font-weight: 400;
  font-size: 1rem;
  background-color: white;
}

.footer-copyright {
  padding: 0px 12px;
}

.abbreviation {
  text-decoration: none;
}


@media screen and (min-width: 900px) {
  .footer {
      padding: 0px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
      padding: 0px 40px;
  }
}